---
import "../styles/global.css";
import { getCollection } from "astro:content";

import Navigation from "../components/Navigation.astro";
import Head from "../components/Head.astro";
import Analytics from "../components/Analytics.astro";
import ArrowDown from "../components/icons/ArrowDown.astro";
import Footer from "../components/Footer.astro";
import LandingBackground from "../components/assets/LandingBackground.astro";

const unsortedarticles = await getCollection("blog");
const articles = unsortedarticles.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const schema = JSON.stringify({
    "@context": "https://schema.org/",
    "@type": "WebSite",
    name: "Webry",
    url: "https://www.webry.com/",
});
---

<html lang="en">
    <head>
        <Head />
        <title>Webry | The Modern Web Blog</title>
        <meta
            name="description"
            content="Step into my fresh web hub! Discover the magic of modern web creation, harness top-notch practices, and elevate your digital journey with my lively array of articles."
        />
        <link rel="canonical" href="https://www.webry.com/" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.webry.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Webry | My Modern Web Blog">
        <meta property="og:description" content="Step into my fresh web hub! Discover the magic of modern web creation, harness top-notch practices, and elevate your digital journey with my lively array of articles.">
        <meta property="og:image" content="https://www.webry.com/og-cover.jpg">
      
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="webry.com">
        <meta property="twitter:url" content="https://www.webry.com">
        <meta name="twitter:title" content="Webry | My Modern Web Blog">
        <meta name="twitter:description" content="Step into my fresh web hub! Discover the magic of modern web creation, harness top-notch practices, and elevate your digital journey with my lively array of articles.">
        <meta name="twitter:image" content="https://www.webry.com/og-cover.jpg">

        <script type="application/ld+json" set:html={schema}></script>
        <Analytics />
    </head>
    <body>
        <Navigation />
        <section class="hero">
            <h1>
                <span class="hero__before">Welcome to</span>
                <span>My <em>Modern</em> Web Blog</span>
            </h1>
        </section>
        <main>
            <LandingBackground />
            <div class="container">
                <section class="articles">
                    <div class="articles_header">
                        <h2 class="articles__title">articles</h2>
                        <div class="articles__arrow">
                            <ArrowDown />
                        </div>
                    </div>
                    <div class="articles__grid">
                        {
                            articles.map((post) => (
                                <article class="card">
                                    <a
                                        aria-label={`Go to the post: ${post.data.title}`}
                                        href={`/article/${post.slug}`}
                                    >
                                        <img
                                            src={post.data.cover}
                                            alt="JSDoc Typing"
                                            class="card-img"
                                        />
                                    </a>
                                    <div class="card__content flow-content">
                                        <h2 class="card-title">
                                            <a
                                                aria-label={`Go to the post: ${post.data.title}`}
                                                href={`/article/${post.slug}`}
                                            >
                                                {post.data.title}
                                            </a>
                                        </h2>
                                        <p class="card-description">
                                            {post.data.share.description}
                                        </p>
                                        <a
                                            class="btn card-button"
                                            aria-label={`Go to the post: ${post.data.title}`}
                                            href={`/article/${post.slug}`}
                                        >
                                            Read Article
                                        </a>
                                    </div>
                                </article>
                            ))
                        }
                    </div>
                </section>
            </div>
        </main>
        <Footer />

        <style>
            /* HERO */

            .hero {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                text-align: center;
                height: calc(100vh - var(--header-height) * 2);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1080 720' fill='none'%3E%3Cpath d='M0 0H1080V720C708.5 542 404.5 538 0 720C0 512.5 0 0 0 0Z' fill='%230e0e0e'%3E%3Cscript xmlns=''/%3E%3C/path%3E%3C/svg%3E") no-repeat center bottom;
                background-size: cover;
                color: var(--color-white);
            }

            .hero h1 {
                transform: translateY(-10vh);
            }

            @media (min-width: 1080px) {
                .hero {
                    --clip-path-size-factor: 2; 
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='640' viewBox='0 0 1920 640' fill='none'%3E%3Cpath d='M0 0H1920V640C1255.93 512.637 719.266 504.677 0 640C0 514.51 0 0 0 0Z' fill='%230e0e0e'%3E%3Cscript xmlns=''/%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
                    background-size: cover;
                }
            }
            
            @media (min-width: 1440px) {
                .hero {
                    --clip-path-size-factor: 2.5; 
                }
            }

            .hero__before {
                display: block;
                font-size: var(--p-font-size);
                color: var(--color-gray-500);
            }

            .articles_header {
                height: var(--header-height);
                display: flex;
                flex-direction: column;
                transform: translateY(-3vh);
            }

            .articles__arrow {
                margin: var(--padding-small) auto;
                display: block;
            }
        </style>
        <script>
            import "../scripts/background.ts";
        </script>
    </body>
</html>
